<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fanco | Web Developer Portfolio </title>
    <!-- Custom styles for all template-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% block styles %}
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}" type="text/css">
    <!-- Custom styles for this template-->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/indexstyle.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript">
    var intro_page_url = "{{ url_for('index') }}";
    var app_page_url = "{{ url_for('content') }}";
    </script>
</body>
</html>
