<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fanco | Web Developer Portfolio </title>
    <!-- Custom styles for all template-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

</head>

<body data-spy="scroll" data-target=".navbar">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#about">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">contact</a>
                </li>
            </ul>
        </div>
    </nav>


<section id="about" class="container-fluid content">
    <div class="d-flex flex-column justify-content-center h-100">
        <dl>
            <kbd class="font-italic ">Technical skills:</kbd>
            <dd>{</dd>
            <dt>'back-end':</dt>
            <dd>['Python', 'Flask', 'MySQL', 'MongoDB', 'Heroku', 'Docker', 'Nginx']</dd>
            <dt>'front-end':</dt>
            <dd>['HTML', 'CSS', 'Javascript', 'Vue.js']</dd>
            <dt>'Other':</dt>
            <dd>['Scrapy', 'Selenium', 'Github', 'Linux']</dd>
            <dd>}</dd>
        </dl>
        <dl>
            <kbd class="font-italic ">Soft skills:</kbd>
            <dd>{</dd>
            <dt>'personality':</dt>
            <dd>['Motivated on new challenges', 'Self-organized', 'Work independently', 'Under pressure', 'Friendly attitutde']</dd>
            <dt>'collaboration':</dt>
            <dd>['Team player', 'Great time managment', 'Effective communication skills', 'Open-minded']</dd>
            <dd>}</dd>
        </dl>
        <dl>
            <kbd class="font-italic ">others:</kbd>
            <dd>{</dd>
            <dt>'things I love':</dt>
            <dd>['Traveling', ' Exploring new culture', 'Photography', 'Cooking', 'Coding']</dd>
            <dt>'language':</dt>
            <dd>{'mother tongue': ['Mandarin', 'Cantonese'], </dd>
            <dd>{'work language': ['English'] </dd>
            <dd>}</dd>
        </dl>
    </div>
</section>

<section id="portfolio" class="container-fluid content">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <h1 class="text-center font-weight-bold text-dark">Recent work</h1>
        <p>Check out my latest web development portfolio projects.</p>
        <div class="row row-0-gutter w-100">
            <!-- start portfolio item -->
            <div class="col-md-6 col-0-gutter">
                <div class="ot-portfolio-item">
                    <figure class="effect-bubba">
                        <img src="{{ url_for('static', filename='images/demo/portfolio-1.jpg') }}" alt="img01" class="img-responsive" />
                        <figcaption>
                            <h2>Fanco`s study room - Blog</h2>
                            <p>'Python', 'Flask', 'Sqlite', 'Ckeditor'</p>
                            <p>'Bootstrap', 'Moment.js', 'Dropzone.js'</p>
                            <p>'Docker', 'Nginx', 'Mailgun'</p>
                            <a href="#" data-toggle="modal" data-target="#Modal-1">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- end portfolio item -->
            <!-- start portfolio item -->
            <div class="col-md-6 col-0-gutter">
                <div class="ot-portfolio-item">
                    <figure class="effect-bubba">
                        <img src="{{ url_for('static', filename='images/demo/trackurent.jpg') }}" alt="img02" class="img-responsive" />
                        <figcaption>
                            <h2>Trackurent - Web</h2>
                            <p>'Python', 'Flask', 'MongoDB'</p>
                            <p>'Bootstrap', 'Moment.js', 'Googleapis.js'</p>
                            <p>'Scrapy', 'Nginx'</p>
                            <a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- end portfolio item -->
            <!-- start portfolio item -->
            <div class="col-md-6 col-0-gutter">
                <div class="ot-portfolio-item">
                    <figure class="effect-bubba">
                        <img src="{{ url_for('static', filename='images/demo/portfolio-4.jpg') }}" alt="img03" class="img-responsive" />
                        <figcaption>
                            <h2>GuessIDraw - Web</h2>
                            <p>'Python', 'Flask', 'Socket.io','Redis'</p>
                            <p>'Semantic', 'Knob.js'</p>
                            <p>'Nginx', 'Canvas'</p>
                            <a href="#" data-toggle="modal" data-target="#Modal-3">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- end portfolio item -->
        </div>
    </div>

</section>

<section id="contact" class="container-fluid content">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <h1 class="text-center font-weight-bold text-dark">fanghao23@hotmail.com</h1>
        <p>If you wanna get in touch, talk to me about a project collaboration or just say hi.</p>
    </div>
</section>

<!-- Modal for portfolio item 1 -->
<div class="modal fade" id="Modal-1" tabindex="-1" role="dialog" aria-labelledby="Modal-label-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Modal-label-1">Fanco`s study room</h4>
            </div>
            <div class="modal-body">
                <img src="{{ url_for('static', filename='images/demo/portfolio-1.jpg') }}" alt="img01" class="img-responsive" />
                <div class="modal-works"><span>Web Development</span></div>
                <p>As a junior web developer, I practised what I learned and built my blog.</p>
                <p>In my blog I share the learning notes, design various functions and manage comments. Visitors can read the articles, leave a message or comment annoymously I use this opportunity to share what I study in daily life, fulfill some function and hide irrelevant comment</p>
                <p>Also, anonymous readers can read the articles,leave a message and comment on it.</p>
                <p>Click the link <a target="_blank" href="http://fanco.ink">fanco`s study room</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for portfolio item 2 -->
<div class="modal fade" id="Modal-2" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Modal-label-2">Track U Rent</h4>
            </div>
            <div class="modal-body">
                <img src="{{ url_for('static', filename='images/demo/trackurent.jpg') }}" alt="img01" class="img-responsive" />
                <div class="modal-works"><span>Web Development</span><span>Scrapy</span><span>Rent</span></div>
                <p>As a fresher moved in London, it`s unavoidble to deal with estate agent.</p>
                <p>When I received lots of email from rightmove everyday, I always saw some of them post reduction. But are they reduce truely? Then I found some trick.</p>
                <p>You might have the same doubt, why not just have a look? <a target="_blank" href="http://trackurent.today">Trackurent</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal for portfolio item 3 -->
<div class="modal fade" id="Modal-3" tabindex="-1" role="dialog" aria-labelledby="Modal-label-3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Modal-label-3">Guess I Draw</h4>
            </div>
            <div class="modal-body">
                <img src="{{ url_for('static', filename='images/demo/portfolio-4.jpg') }}" alt="img03" class="img-responsive" />
                <div class="modal-works"><span>Web Development</span><span>socket</span><span>canvas</span></div>
                <p>Draw Something is a famous game since it released in 2012. Not only test understanding, but also train creativity.</p>
                <p>What skill should I use? Firstly, we need canvas to paint. Secondly, we need socket technology to broadcast immediately.</p>
                <p>And then, the idea chat room we use daily just got into my mind.</p>
                <p>So why not mix them up? I think they will increase funny each other.<a target="_blank" href="http://3.9.215.67:9000/">GuessIdraw</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>




<header data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#about">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section id="about" class="container-fluid content">
    <div class="d-flex flex-column justify-content-center h-100">
        <dl>
            <kbd class="font-italic ">Technical skills:</kbd>
            <dd>{</dd>
            <dt>'back-end':</dt>
            <dd>['Python', 'Flask', 'MySQL', 'MongoDB', 'Heroku', 'Docker', 'Nginx']</dd>
            <dt>'front-end':</dt>
            <dd>['HTML', 'CSS', 'Javascript', 'Vue.js']</dd>
            <dt>'Other':</dt>
            <dd>['Scrapy', 'Selenium', 'Github', 'Linux']</dd>
            <dd>}</dd>
        </dl>
        <dl>
            <kbd class="font-italic ">Soft skills:</kbd>
            <dd>{</dd>
            <dt>'personality':</dt>
            <dd>['Motivated on new challenges', 'Self-organized', 'Work independently', 'Under pressure', 'Friendly attitutde']</dd>
            <dt>'collaboration':</dt>
            <dd>['Team player', 'Great time managment', 'Effective communication skills', 'Open-minded']</dd>
            <dd>}</dd>
        </dl>
        <dl>
            <kbd class="font-italic ">others:</kbd>
            <dd>{</dd>
            <dt>'things I love':</dt>
            <dd>['Traveling', ' Exploring new culture', 'Photography', 'Cooking', 'Coding']</dd>
            <dt>'language':</dt>
            <dd>{'mother tongue': ['Mandarin', 'Cantonese'], </dd>
            <dd>{'work language': ['English'] </dd>
            <dd>}</dd>
        </dl>
    </div>
</section>

<section id="portfolio" class="container-fluid">
	<div class="d-flex flex-column justify-content-center align-items-center h-100">
		<h1 class="text-center font-weight-bold text-dark">Recent work</h1>
		<p>Check out my latest web development portfolio projects.</p>
		<div class="row row-0-gutter w-100">
			<!-- start portfolio item -->
			<div class="col-md-6 col-0-gutter">
				<div class="ot-portfolio-item">
					<figure class="effect-bubba">
						<img src="{{ url_for('static', filename='images/demo/portfolio-1.jpg') }}" alt="img02" class="img-responsive" />
						<figcaption>
							<h2>Fanco`s Study Room - Blog</h2>
							<p>'Python', 'Flask', 'Sqlite', 'Ckeditor'</p>
							<p>'Bootstrap', 'Moment.js', 'Dropzone.js'</p>
							<p>'Docker', 'Nginx', 'Mailgun'</p>
							<a href="#" data-toggle="modal" data-target="#Modal-1">View more</a>
						</figcaption>
					</figure>
				</div>
			</div>
			<!-- end portfolio item -->
			<!-- start portfolio item -->
			<div class="col-md-6 col-0-gutter">
				<div class="ot-portfolio-item">
					<figure class="effect-bubba">
						<img src="{{ url_for('static', filename='images/demo/trackurent.jpg') }}" alt="img02" class="img-responsive" />
						<figcaption>
							<h2>Trackurent - Web</h2>
							<p>'Python', 'Flask', 'MongoDB'</p>
							<p>'Bootstrap', 'Moment.js', 'Googleapis.js'</p>
							<p>'Scrapy', 'Nginx'</p>
							<a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
						</figcaption>
					</figure>
				</div>
			</div>
			<!-- end portfolio item -->
		</div>
	</div>

</section>

<section id="contact" class="container-fluid content">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <h1 class="text-center font-weight-bold text-dark">fanghao23@hotmail.com</h1>
        <p>If you wanna get in touch, talk to me about a project collaboration or just say hi.</p>
    </div>
</section>

<!-- Modal for portfolio item 1 -->
<div class="modal fade" id="Modal-1" tabindex="-1" role="dialog" aria-labelledby="Modal-label-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Modal-label-1">Fanco`s Study Room</h4>
            </div>
            <div class="modal-body">
                <img src="{{ url_for('static', filename='images/FSR-2.jpg') }}" alt="img01" class="img-responsive" />
                <div class="modal-works"><span>Web Development</span></div>
                <p>As a junior web developer, I practised what I learned and built my blog.</p>
                <p>In my blog, I share the learning notes, design various features and manage messages and comments.</p>
                <p>Visitors can read the articles, leave a message or comment anonymously.</p>
                <p>Click the link <a target="_blank" href="http://fanco.ink">Fanco`s Study Room</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for portfolio item 2 -->
<div class="modal fade" id="Modal-2" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Modal-label-2">Track U Rent</h4>
            </div>
            <div class="modal-body">
                <img src="{{ url_for('static', filename='images/TUR-2.jpg') }}" alt="img02" class="img-responsive" />
                <div class="modal-works"><span>Web Development</span><span>Scrapy</span><span>Rent</span></div>
                <p>As a fresher moving to London, I have to rent a place and deal with real estate agents.</p>
                <p>When I started looking for a flat, I received lots of emails from Right Move everyday; most of them are about price reduction. Is it genuine price reduction or just so tactics to draw attention? Then I found some tricks the real estate agents play!</p>
                <p>You might have the same doubt as I did, click here and have a look what I found! <a target="_blank" href="http://trackurent.today">Trackurent</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for portfolio item 3 -->
<div class="modal fade" id="Modal-3" tabindex="-1" role="dialog" aria-labelledby="Modal-label-3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Modal-label-3">Guess What</h4>
            </div>
            <div class="modal-body">
                <img src="{{ url_for('static', filename='images/GWID-2.jpg') }}" alt="img03" class="img-responsive" />
                <div class="modal-works"><span>Web Development</span><span>socket</span><span>canvas</span></div>
                <p>Draw Something is a famous game since it was released in 2012. It's all about creative thinking, having fun, spending time with your friends and family.</p>
                <p>How can I build the game on my website? Firstly, we need 'canvas' to draw. Secondly, we need socket technology for real time broadcast.</p>
                <p>Then, the idea of chat room came into my mind.</p>
                <p>So why not combine them? Bringing all these features into one game, I can make the game more interactive and playful!<a target="_blank" href="http://3.9.215.67:9000/">Guess What I Draw</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

